<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" name="save" class="btn btn-success">Create Account</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
</body>
</html>