<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="card">
        <div class="card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2">
                    <button type="submit" name="save" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

        {% else %}

        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
            <div>
                Log in to access to this section <a href="/login">Log in</a>
            </div>
        </div>


    {% endif %}

{% endblock %}
</body>
</html>