<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Wellcome to Todo Adventure</h5>
            <p class="card-text">Todo adventure is a simple todo list web app witch allow you to create todos about anithing.</p>
              {% if user.is_authenticated %}

                  <a href="/create" class="btn btn-primary">Start Creating</a>

                  {% else %}

                    <a href="/login" class="btn btn-success ml-2">Log in</a>
                    <a href="/register" class="btn btn-success ml-2">Register</a>

              {% endif %}
          </div>
          <div class="card-footer text-muted">
              {{ user }}
          </div>
        </div>

{% endblock %}
</body>
</html>